<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>GolosText-Bold.ttf</string>
		<string>GolosText-SemiBold.ttf</string>
		<string>GolosText-Medium.ttf</string>
		<string>GolosText-Black.ttf</string>
		<string>GolosText-ExtraBold.ttf</string>
		<string>GolosText-Regular.ttf</string>
		<string>Evas-Signatures.ttf</string>
		<string>LuckiestGuy.ttf</string>
	</array>
</dict>
</plist>
